form {
    position: fixed;
    top: 20%;
    right: 0.01%;
    width: 100%;
    visibility: hidden;
    text-align: center;   
    animation: fadein ease 4s;
    text-align: center;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#error-1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    visibility: hidden;
}
#error-2 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    visibility: hidden;
}
#error-3 {
    display: block;
    visibility: hidden;
}
#thematic_break {
    visibility: hidden;
}
#flame {
    position: fixed;
    top: 10%;
    width: 100%;
    text-align: center;
    visibility: hidden; 
}
#person {
    position: relative;
    left: 25px;
}
#confirm {
    position: relative;
    top: 45px;
    right: 92px;
    /*right: 48.35%;*/
    text-align: center;
}
#dialog-1 {
    position:fixed;
    top: 50%;
    text-align: center;
    width: 100%;
    visibility: hidden;
}
#enma_ai {
    position: fixed;
    top: 40%;
    visibility: hidden;
    width: 100%;
    text-align: center;
}